html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background: white; }

#mainContent {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #512e67;
  border: 1px solid black;
  background: #fff;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #mainContent div,
  #mainContent img {
    position: absolute; }

.hide {
  opacity: 0; }

#owl, #girl, #butterfly {
  visibility: hidden; }

.st0 {
  fill: #ffffff;
  stroke: #000000;
  stroke-miterlimit: 10; }

#bgExit {
  width: 300px;
  height: 250px;
  cursor: pointer;
  top: 0;
  left: 0; }
