@import "_config";
@import "_mixins";
body {
    padding: 0;
    margin: 0;
    background: white;
}

#mainContent {
    position: relative;
    width: $width;
    height: $height;
    overflow: hidden;
    cursor: pointer;
    transform: rotate(0deg);
    color: $purple;
    border: 1px solid black;
    background: $backgroundColor;
    background-size: cover;
    box-sizing: border-box;
    div,
    img {
        position: absolute;
    }
}

.hide {
    opacity: 0;
}
#owl,#girl,#butterfly{
    visibility: hidden;
}

.st0{
fill:#ffffff;
stroke:#000000;
stroke-miterlimit:10;
}

#bgExit {
    width: $width;
    height: $height;
    cursor: pointer;
    top: 0;
    left: 0;
}